
.root{
    -fx-text-fill: #ffffff; 
    -fx-prompt-text-fill: #ffffff; 

    -fx-background-size: 100% 100%;
}
    .text-field{
    -jfx-unfocus-color:#7d7d7d;
    -fx-prompt-text-fill: #7d7d7d;
    -fx-text-fill: black;
}